@import url("../global/reset.css");
@import url("../global/base.css");
@import url("./01-hero.css");
@import url("./02-main-key.css");
@import url("./03-about.css");
@import url("./04-services.css");
@import url("./05-engagement.css");
@import url("./06-contact.css");
@import url("./07-testimonials.css");
@import url("./08-footer.css");



